<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!-- Mongo DB -->
    <add key="MongoUri" value="mongodb://10.0.0.18:27017/ntooitive_realestate" />

    <add key="MongoUserName" value="" />
    <add key="MongoPassword" value="" />
    <add key="MongoServerIP" value="10.0.0.18" />
    <add key="MongoServerPort" value="27017" />
    <add key="MongoDatabaseName" value="ntooitive_realestate" />
    <add key="MaxConnectionPoolSize" value="400" />
    <add key="ConnectionTimeOutInMiliSecond" value="360000" />

    <add key="ElasticSearch:Baseurl" value="http://10.0.0.18:9200/"/>

    <add key="ElasticSearch:Default_Index_Name" value="ntooive_san_diego_union_tribune" />
    <add key="ElasticSearch:Index_Name" value="ntooive_san_diego_union_tribune" />
    <add key="ElasticSearch:SynonymsPath" value="san_diego_union_tribune_synonyms.txt" />
    <add key="ElasticSearch:StopwordsPath" value="san_diego_union_tribune_stopwords.txt" />
    <add key="MongoUri" value="mongodb://10.0.0.18:27017/ntooitive_realestate" />

    <add key="ListHub:Baseurl" value="https://feeds.listhub.com/pickup/"/>
    <add key="ListHub:Username" value="sduniontrib"/>
    <add key="ListHub:Password" value="H42njR2s"/>
    <add key="ListHub:Channelid" value="sduniontrib"/>
    <add key= "ListHub:Filename" value="sduniontrib.xml.gz"/>
    <add key= "ListHub:Saveas" value="C:\Users\Habib\Source\Repos\RealEstateVerticals\Ntooitive.Rental\DataImportConsole\DumpData\"/>
    <add key= "NewHome:Saveas" value="C:\Users\Amitabha\Source\Repos\RealEstateVerticals\Ntooitive.Rental\DataImportConsole\DumpData\"/>


    <add key="Mailgun:BaseUrl" value="https://api.mailgun.net/v3"/>
    <add key="Mailgun:APIKey" value="key-27c9a647f442e0ec1-07f01ba29230ab1"/>
    <add key="Mailgun:Domain" value="sandbox8c4009ee4a2542879767b9641a701e93.mailgun.org"/>
    <add key="Mailgun:From" value="Real Estate Verticals"/>
    <add key="Mailgun:SMTP" value="mailgun@sandbox8c4009ee4a2542879767b9641a701e93.mailgun.org"/>

    <add key="GoogleMap:APIKey" value="AIzaSyCbjnpA1wXxk5A4pOV-2BbJgMg2gIXDHyM"/>
    
    <add key="Bing:APIKey" value="Aj1jij2hUsqUbBkgNY5kkOlHc8uXc5ZlI332uFT9rUZ5eKg8oH4ePSSoa6u1gVAv"/>
    <add key="Bing:BaseUrl" value="http://dev.virtualearth.net/"/>
    <add key="Bing:TypeBaseUrl" value="http://spatial.virtualearth.net/"/>
    <add key="Bing:LocationDistance" value="10"/>
    <add key="Bing:NoOfItem" value="15"/>
    <add key="Bing:EntityCodeList" value="3578,4013,4170,4581,5400,5540,5800,6000,7011,8060,8211,9221,9530,9996,9545"/>


    <!--<add key ="path" value="C:\Users\Habib\Source\Repos\RealEstateVerticals\Ntooitive.Rental\Documentation\bjl2.xml"/>-->
    <add key ="newhomefeedpath" value="C:\Users\Habib\Source\Repos\RealEstateVerticals\Ntooitive.Rental\Documentation\NewHome.xml"/>
    
    <add key ="path" value="C:\Users\Habib\Source\Repos\RealEstateVerticals\Ntooitive.Rental\DataImportConsole\DumpData"/>
    <add key ="FTPpath" value="ftp://ftp.tribpub.com//"/>

    <add key ="NewHome:Fullurl" value="https://s3.amazonaws.com/newhomefeed/cache/feeds/91.San-Diego-Tribune.38.Warmington-Residential.feed.xml,https://s3.amazonaws.com/newhomefeed/cache/feeds/91.San-Diego-Tribune.334.MBK-Homes.feed.xml,https://s3.amazonaws.com/newhomefeed/cache/feeds/91.San-Diego-Tribune.319.Brookfield-Residential-SoCal.feed.xml,https://s3.amazonaws.com/newhomefeed/cache/feeds/91.San-Diego-Tribune.196.Watt-Communities.feed.xml"/>
    <add key ="FTP:BDX:Path" value="ftp://builderftp.newhomesource.com"/>
  </appSettings>
</configuration>