<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <!-- Mongo DB -->
    <add key="MongoUri" value="mongodb://ntooitive:7H05d99LWa1j@104.130.246.120:27017/ntooitive_realestate" />

    <add key="MongoUserName" value="ntooitive" />
    <add key="MongoPassword" value="7H05d99LWa1j" />
    <add key="MongoServerIP" value="104.130.246.120" />
    <add key="MongoServerPort" value="27017" />
    <add key="MongoDatabaseName" value="ntooitive_realestate" />
    <add key="MaxConnectionPoolSize" value="400" />
    <add key="ConnectionTimeOutInMiliSecond" value="360000" />


    <add key="Mailgun:BaseUrl" value="https://api.mailgun.net/v3" />
    <add key="Mailgun:APIKey" value="key-27c9a647f442e0ec107f01ba29230ab1" />
    <add key="Mailgun:Domain" value="sandbox8c4009ee4a2542879767b9641a701e93.mailgun.org" />
    <add key="Mailgun:From" value="Real Estate Verticals" />
    <add key="Mailgun:SMTP" value="mailgun@sandbox8c4009ee4a2542879767b9641a701e93.mailgun.org" />

    <add key="ElasticSearch:Baseurl" value="http://104.130.246.121:9200/" />
    <add key="ElasticSearch:Default_Index_Name" value="ntooive_san_diego_union_tribune" />
    <add key="ElasticSearch:Index_Name" value="ntooive_san_diego_union_tribune" />
    <add key="ElasticSearch:SynonymsPath" value="san_diego_union_tribune_synonyms.txt" />
    <add key="ElasticSearch:StopwordsPath" value="san_diego_union_tribune_stopwords.txt" />
    <!--<add key="MongoUri" value="mongodb://ntooitive:7H05d99LWa1j@23.253.108.9:4436/ntooitive_realestate" />

    <add key="MongoUserName" value="ntooitive" />
    <add key="MongoPassword" value="7H05d99LWa1j" />
    <add key="MongoServerIP" value="23.253.108.9" />
    <add key="MongoServerPort" value="4436" />
    <add key="MongoDatabaseName" value="ntooitive_realestate" />
    <add key="MaxConnectionPoolSize" value="400" />
    <add key="ConnectionTimeOutInMiliSecond" value="360000" />


    <add key="Mailgun:BaseUrl" value="https://api.mailgun.net/v3" />
    <add key="Mailgun:APIKey" value="key-27c9a647f442e0ec107f01ba29230ab1" />
    <add key="Mailgun:Domain" value="sandbox8c4009ee4a2542879767b9641a701e93.mailgun.org" />
    <add key="Mailgun:From" value="Real Estate Verticals" />
    <add key="Mailgun:SMTP" value="mailgun@sandbox8c4009ee4a2542879767b9641a701e93.mailgun.org" />

    <add key="ElasticSearch:Baseurl" value="http://104.130.241.100:3542/" />

    <add key="ElasticSearch:Default_Index_Name" value="ntooive_san_diego_union_tribune" />
    <add key="ElasticSearch:Index_Name" value="ntooive_san_diego_union_tribune" />
    <add key="ElasticSearch:SynonymsPath" value="san_diego_union_tribune_synonyms.txt" />
    <add key="ElasticSearch:StopwordsPath" value="san_diego_union_tribune_stopwords.txt" />-->
    <!--<add key="MongoUri" value="mongodb://ntooitive:7H05d99LWa1j@23.253.108.9:4436/ntooitive_realestate" />

    <add key="MongoUserName" value="ntooitive" />
    <add key="MongoPassword" value="7H05d99LWa1j" />
    <add key="MongoServerIP" value="23.253.108.9" />
    <add key="MongoServerPort" value="4436" />
    <add key="MongoDatabaseName" value="ntooitive_realestate" />
    <add key="MaxConnectionPoolSize" value="400" />
    <add key="ConnectionTimeOutInMiliSecond" value="360000" />

    <add key="Mailgun:BaseUrl" value="https://api.mailgun.net/v3" />
    <add key="Mailgun:APIKey" value="key-27c9a647f442e0ec107f01ba29230ab1" />
    <add key="Mailgun:Domain" value="sandbox8c4009ee4a2542879767b9641a701e93.mailgun.org" />
    <add key="Mailgun:From" value="Real Estate Verticals" />
    <add key="Mailgun:SMTP" value="mailgun@sandbox8c4009ee4a2542879767b9641a701e93.mailgun.org" />

    <add key="URL" value="http://localhost:7685/" />

    <add key="ElasticSearch:Baseurl" value="http://10.223.176.102:3542/" />
    <add key="ElasticSearch:Default_Index_Name" value="ntooive_san_diego_union_tribune"/>
    <add key="ElasticSearch:Index_Name" value="ntooive_san_diego_union_tribune"/>
    <add key="ElasticSearch:SynonymsPath" value="san_diego_union_tribune_synonyms.txt"/>
    <add key="ElasticSearch:StopwordsPath" value="san_diego_union_tribune_stopwords.txt"/>-->

  </appSettings>
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="/agent/agent-login" slidingExpiration="true" timeout="60" />
    </authentication>

  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <add name="RestProxy32" path="p.ashx" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
      <add name="RestProxy64" path="p.ashx" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.2.0" newVersion="3.7.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
